<div class="container p-3  mx-auto">

<%# Card "user infos" %>
  <div class="card p-3">
    <h1>
      Hello
      <%= current_user.username %>
      !
    </h1>

    <p>
      <ul>
        <li>
          Your full name :
          <%= current_user.first_name %>
          <%= current_user.last_name %>
        </li>
        <li>
          Your e-mail :
          <%= current_user.email %>
        </li>
        <li>
          Your city :
          <%= current_user.city %>
        </li>
      </ul>
    </p>
    <p>
      <%= link_to 'Edit my profile', edit_user_registration_path, class: "btn btn-primary" %>
    </p>
  </div>

<%# Card "your garage bookings" %>
  <div class="card p-3 my-3">
    <h2>
      Bookings from your garage :
    </h2>

    <p>
      <% @pending_bookings.each do |booking| %>
        <div class="d-flex mt-3" style="height: 200px">
          <%= image_tag ("http://loremflickr.com/280/280/#{booking.car.car_brand}#{booking.car.car_model}"), class: "" %>
            <ul>
              <strong>
                <%= booking.user.first_name %>
                <%= booking.user.last_name %>
                (<%= booking.user.username %>)
              </strong>
              wants to rent a car :
              <li>
                <%= booking.car.car_brand %>
                <%= booking.car.car_model %>
              </li>
              <li>From <%= booking.starting_date %>
              <li>to <%= booking.ending_date %></li>
              <li>Price/day : <%= booking.car.price %>€
              <li>Amount : <%= booking.booking_amount %>€</li>
              <li ><% if booking.status == nil %>
                Status : PENDING</li>
                <%= link_to booking_path(booking), class: 'btn btn-primary' do %>
                  <i class="fa-solid fa-circle-info"></i> Details
                <% end %>
                <%= link_to accept_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Accept ?' }, class: 'btn btn-success' do %>
                  <i class="fa-solid fa-check"></i> Accept
                <% end %>
                <%= link_to decline_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Decline ?' }, class: 'btn btn-danger' do %>
                  <i class="fa-solid fa-xmark"></i> Decline
                <% end %>
              <% elsif booking.status == true %>
                Status : CONFIRMED</li>
                <div class='btn btn-secondary'>
                  <i class="fa-solid fa-check"></i> Accept
                </div>
                <%= link_to booking_path(booking), class: 'btn btn-primary' do %>
                  <i class="fa-solid fa-circle-info"></i> Details
                <% end %>
                <%= link_to decline_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Decline ?' }, class: 'btn btn-danger' do %>
                  <i class="fa-solid fa-xmark"></i> Decline
                <% end %>
              <% else booking.status == false %>
                Status : DECLINED</li>
                <%= link_to accept_path(booking), data: { turbo_method: :patch, turbo_confirm: 'Accept ?' }, class: 'btn btn-success' do %>
                  <i class="fa-solid fa-check"></i> Accept
                <% end %>
                <%= link_to booking_path(booking), class: 'btn btn-primary' do %>
                  <i class="fa-solid fa-circle-info"></i> Details
                <% end %>
                <div class='btn btn-secondary'>
                  <i class="fa-solid fa-xmark"></i> Decline
                </div>
              <% end %>
            </ul>
        </div>
      <% end %>
    </p>
  </div>

<%# Card "your bookings" %>
  <div class="card p-3 my-3">
    <h2>
      Your bookings :
    </h2>

    <p>
      <% @user_bookings.each do |booking| %>
        <div class="d-flex mt-3" style="height: 200px">
          <%= image_tag ("http://loremflickr.com/280/280/#{booking.car.car_brand}#{booking.car.car_model}"), class: "" %>
            <ul>
                <strong>
                  <%= booking.car.car_brand %>
                  <%= booking.car.car_model %>
                </strong>
                (owner : <%= booking.car.user.username %>)
              <li>Du <%= booking.starting_date %>
              <li>au <%= booking.ending_date %></li>
              <li>Price/day : <%= booking.car.price %>€
              <li>Amount : <%= booking.booking_amount %>€</li>
              <li><% if booking.status == nil %>
                Status : PENDING
              <% elsif booking.status == true %>
                Status : CONFIRMED
              <% else booking.status == false %>
                Status : DECLINED
              <% end %></li>
              <%= link_to booking_path(booking), class: 'btn btn-primary' do %>
                <i class="fa-solid fa-circle-info"></i> Details
              <% end %>
            </ul>
        </div>
      <% end %>
    </p>
  </div>
</div>
