<%= simple_form_for(car) do |f| %>
  <%= f.input :car_brand %>
  <%= f.input :car_model %>
  <%= f.input :price %>
  <%= f.input :horse_power %>
  <%= f.input :photo, as: :file %>

  <%= f.submit class: "btn btn-primary border rounded-pill" %>
  </nav>
<% end %>
<nav>
