<div class="container-fluid mt-3">
  <div class="card-car gap-3">

    <% @usercars.each do |mycar| %>
      <div class="card rounded-4 rounded border border-2 border-black-subtitle col-sm-12" style="background-color: #ffffff;">
        <%= link_to car_path(mycar) do %>
          <div class="card-body">
            <p>
              <%= image_tag ("http://loremflickr.com/280/280/#{mycar.car_brand}#{mycar.car_model}"), class: "card-img-top rounded-4" %>
            </p>
            <p>
              <%= mycar.car_brand %>
              <%= mycar.car_model %>
            </p>
            <p>
              <%= mycar.price %>€/jour
            </p>
            <p>
              <%= mycar.user.first_name %>
              <%= mycar.user.last_name %>
              (@<%= mycar.user.username %>)
            </p>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
