<div class="container ">
  <div class="card-car">

    <% @usercars.each do |mycar| %>
      <div class="card mt-2">
        <%= link_to car_path(mycar) do %>
          <div class="card-body">
            <p>
              <%= image_tag ("http://loremflickr.com/280/280/#{mycar.car_brand}#{mycar.car_model}"), class: "mycard-img-top" %>
            </p>
            <p>
              <%= mycar.car_brand %>
              <%= mycar.car_model %>
            </p>
            <p>
              <%= mycar.price %>€/jour
            </p>
            <p>
              <%= mycar.user.first_name %>
              <%= mycar.user.last_name %>
              (@<%= mycar.user.username %>)
            </p>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
