<div class="container m-3 border gap-3">
<%= link_to "logout", destroy_user_session_path,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%= link_to "login", user_session_path%>
</div>

<div class="container margin-top-negative border">
  <div class="row">
    <div class="col-8">
        <h1><%= @car.car_model %></h1>
        <p><%= @car.car_brand%></p>
        <p><%= @car.price%></p>
        <p><%= @car.horse_power%></p>
        <%if @car.user==current_user %>
          <%= link_to "Delete", car_path(@car),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          <%= link_to "edit",edit_car_path%>
        <%end%>
          <%= link_to "reserve", new_car_booking_path(@car)%>

    </div>
  </div>
</div>
