<div class="container border m-3 p-3 card">
  <h1>
    <%= @car.car_brand%>
    <%= @car.car_model %>
  </h1>
  <%= image_tag ("http://loremflickr.com/280/280/#{@car.car_brand}#{@car.car_model}"), class: "card-img-top", style: 'width: 400px' %>
  <div class ="link-hover-red">
    <%if @car.user == current_user %>
      <%= link_to "Edit my car", edit_car_path%>
      |
      <%= link_to "Delete my car", car_path(@car),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%end%>
  </div>
    <h3 class="mt-3"><%= @car.price%>€ per day</h3>
    <h4><%= @car.horse_power%> hp</h4>
</div>

<% if current_user.id != @car.user_id %>
  <div class="container card border m-3 p-3">
    <%= render "bookings/form" %>
  </div>
<% end %>
