<!DOCTYPE html>
<html>

  <head>
    <title>RentSuperCars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #ffffff;">
      <nav class="navbar rounded-4 rounded-top-0 border border-2 border-black-subtitle" style="background-color: #ffffff;">
        <h1 style="padding: 0px 10px">Rent-Super-Car</h1>
      </nav>

    <%= yield %>
  </body>
</html>
