<!DOCTYPE html>
<html>

  <head>
    <title>RentSuperCars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>

  <body style="background-image: url(https://images.hdqwalls.com/download/porsche-911-gt3-drift-wide-3840x2160.jpg); background-position: down; background-size: cover">
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
